<%
    tacos = ["A","B","C","D"]
%>


<h1> I love places</h1>
<p>What is going onnnn</p>

<p>
 The total is <%= @test %>!

 </p>

<ul>
    <% for taco in tacos %>
    <li><%= taco %></li>
    <% end%>
</ul>